#chgnpassword-page {
  display: flex;
  justify-content: center;
  height: 100%;
}
#chgnpassword-page h3 {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0.5em 0.5em;
}
.chgnpassword-form {
  flex: 1;
  padding-top: 5%;
  max-width: 400px;
}
.chgnpassword-form .form-header {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}
.chgnpassword-form .form-header h1 {
  font-size: 28px;
  text-align: center;
  color: #666;
}
.chgnpassword-form .form-body {
  background: white;
  padding: 5px 10px;
}
.chgnpassword-form .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chgnpassword-form .column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.chgnpassword-form .input-group {
  flex: 1;
  display: flex;
  margin: 0px 5px;
  flex-direction: column;
}
.chgnpassword-form label {
  color: black;
  font-size: 17px;
  font-weight: 500;
  padding: 0.5em 0em;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
}
.chgnpassword-form .form-footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.chgnpassword-form .btn {
  padding: 10px 40px;
  background-color: #000;
  font-size: 17px;
  /* border: none; */
  /* border-radius: 5px; */
  color: #fff;
  cursor: pointer;
}
.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .chgnpassword-form .row {
    flex-direction: column;
  }

  .chgnpassword-form .btn {
    flex: 1;
  }
}
